<ion-header>

  <ion-navbar>
    <ion-title>Détail du CD</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>{{ cd.name }}</ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            Artiste/Groupe
          </ion-col>
          <ion-col>
            {{ cd.author }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Publication
          </ion-col>
          <ion-col>
            {{ cd.publishDate }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <form [formGroup]="borrowerForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label floating>Emprunteur</ion-label>
              <ion-input type="text" formControlName="borrower"></ion-input>
              <span ion-text color="danger">{{ errorMessage }}</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button full color="danger" *ngIf="!cd.isBorrowed" (click)="lendCD()">Marquer comme prêté</button>
            <button ion-button full color="secondary" *ngIf="cd.isBorrowed" (click)="getCDBack()">Marquer comme rendu</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button clear (click)="dismissModal()">Fermer</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>