<ion-header>

  <ion-navbar>
    <ion-title>Détail du Livre</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>{{ book.title }}</ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            Auteur
          </ion-col>
          <ion-col>
            {{ book.author }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Publication
          </ion-col>
          <ion-col>
            {{ book.publishDate }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            ISBN
          </ion-col>
          <ion-col>
            {{ book.isbn }}
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              Borrower
            </ion-col>
            <ion-col>
              {{ book.borrower }}
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                Is borrowed?
              </ion-col>
              <ion-col>
                {{ book.isBorrowed }}
              </ion-col>
            </ion-row>
      </ion-grid>
    </ion-card-content>


    <form [formGroup]="borrowerForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label floating>Emprunteur</ion-label>
              <ion-input type="text" formControlName="borrower"></ion-input>
              <span ion-text color="danger">{{ errorMessage }}</span>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button full color="danger" *ngIf="!book.isBorrowed" (click)="lendBook()">Marquer comme prêté</button>
            <button ion-button full color="secondary" *ngIf="book.isBorrowed" (click)="getBookBack()">Marquer comme rendu</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button clear (click)="dismissModal()">Fermer</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>